.header
{
    padding: 16px 0px;
    background-color: green ;
    color: white;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
}
.sticky
{
    position: fixed;
    width: 100%;
    top: 0;
}
body
{
    margin: 0;
    padding-top: 90px;
}
#navBar
{
    display: block;
    background-color: green ;
    float: left;
    padding: 0px;
    width: 100%;
}
#navBar *
{
    float: left;
}