.bar
{
    padding: 16px 0px;
    background-color: blue;
    color: white;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
}
.sticky
{
    position: sticky;
    width: 100%;
    top: 0;
}
body
{
    margin: 0px;
    padding-top: 0;
}
#navBar 
{
    background-color: blue ;
    padding: 0px;
    width: 100%;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
#navBar *
{
    font-size: large;
    display: inline-block;
}
.header
{
    padding-top: 30px;
    padding-bottom: 20px;
    color: black;
}
.topHeader
{
    text-align: center;
    margin: 0;
}
.background_header
{
    background-image: url('photo/Gearvn_hính nền tối giản_ (2).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
}
#topBar *
{
    text-decoration: none;
    color: white;
    
}
li
{
    list-style-type: none;
    padding-left: 4.1%;
    padding-right: 4.2%;

}
a
{
    text-decoration:none;
}
a:hover
{
    color: blue;
}
a:active
{
    color: red;
}
.smallHeader
{
    margin-bottom: 0;
    margin-left: 20%;
}
.subHeader
{
    padding-top: 10px;
    margin: 0;
}
.name
{
    margin: 0;
}
.personalInformation
{
    margin: 0;
}
.assessmentTable, th, td 
{
    border: 1px solid black;
    width: auto;
}
#navBarButton:hover
{
    color: black;
}
img
{
    float: left;
    align-items: center;
    width: 50%;
}
.Top_info
{
    margin-left: 50%;
    margin-right: 20%;
    font-size: 120%;
}