.bar
{
    padding: 16px 0px;
    background-color: green;
    color: white;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
}
.sticky
{
    position: sticky;
    width: 100%;
    top: 0;
}
body
{
    margin: 0;
    padding-top: 0;
}
#navBar 
{
    background-color: red ;
    padding: 0px;
    width: 100%;
    padding-bottom: 0.83em;
    align-items: center;
    text-align: center;
}
#navBar *
{
    font-size: large;
    display: inline-block;
}
.header
{
    background-color: blue;
    padding-top: 30px;
    padding-bottom: 20px;
}
h2
{
    text-align: center;
    margin: 0;
}
#topBar *
{
    text-decoration: none;
}
li
{
    list-style-type: none;
    padding-left: 30px;
    text-align: center;
}
a:hover
{
    color: blue;
}
a:active
{
    color: red;
}